body {
  font-family: Arial;
  text-align: center;
  padding-top: 40px;
}

#buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 30px;
}

.btn, .stop {
  padding: 15px 25px;
  border: none;
  background: #6200ee;
  color: white;
  cursor: pointer;
  font-size: 18px;
  border-radius: 6px;
}

.btn:hover {
  background: #4500b5;
}

.stop {
  background: red;
}

.stop:hover {
  background: rgb(180, 0, 0);
}
